.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyc

# batch files
runserver.bat

# sass
sass-cache/

# training data
# http://stackoverflow.com/questions/32054684/can-i-gitignore-files-with-a-prefix
**/num_recognition_*.csv