{% load static %}
<html>

<head>
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> -->
	<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.4/foundation.css">-->
	<link rel="stylesheet" href="{% static 'num_recognition_app/css/style.css' %}">
	<script src="{% static 'num_recognition_app/js/canvas.js' %}" defer></script>
	<script src="{% static 'num_recognition_app/js/tabSystem.js' %}" defer></script>
	<style>
		.canvas {
			position: absolute;
			left: 0;
			top: 0;
		}
	</style>
</head>

<body>
	<nav class="top-bar" data-topbar role="navigation">
		<div>Number Recognition</div>
	</nav>
	<div class="container">
		<div class="panel md-half-width">
			<div id="canvasGrid">
				<div id="drawingArea">
					<div id="canvasContainer">
						<!--<canvas id="drawingCanvas" class="canvas"></canvas>-->
						<canvas id="valueCanvas" class="canvas" style="z-index:9997"></canvas>
						<canvas id="borderCanvas" class="canvas" style="z-index:9998"></canvas>
						<canvas id="topCanvas" class="canvas" style="z-index:9999"></canvas>
					</div>
				</div>
				<button class="button expanded" id="resetCanvas">Reset</button>
			</div>
		</div>

		<div class="panel md-half-width">
			<div id="tabs" class="tabs">
				<div class="tab" data-tab-target="trainArea">Train Data</div>
				<div class="tab" data-tab-target="predictArea">Predict Data</div>
			</div>

			<div id="trainArea">
				<h3>Train data</h3>
				<form id="train-form">
					Number:
					<input type="text" name="trainDigitNumber" id="trainDigitNumber">
					<button class="button expanded" type="button" id="submitTrainForm">Submit</button>
				</form>
			</div>
			<div id="predictArea">
				<h3>Predict!</h3>
				<form id="predict-form">
					Number:
					<input type="text" name="predictDigitNumber" id="predictDigitNumber">
					<button class="button expanded" type="button" id="submitPredictForm">Submit</button>
				</form>
			</div>
		</div>
	</div>
</body>

</html>