@import "normalize";

@import "foundation-sites/global";
@import "foundation-sites/util/util";

@import "foundation-sites/top-bar";
@import "foundation-sites/button";

@include foundation-global-styles;
@include foundation-top-bar;
@include foundation-button;

$main-font: Helvetica, Roboto, sans-serif;
$code-font: Monaco, Consolas, monospace, sans-serif;
$font-size-n: 1rem;

$medium-screen: 1024px;

body {
    font-family: $main-font;
    font-size: $font-size-n;
    margin: 0;
}

.container {
    width: 100%;
    margin: 1rem auto;
    text-align: center;
}

.code {
    font-family: $code-font;
}

.tabs {
    font-size: 0; // prevent spaces between tabs
    margin: 1.5rem 0;
}

.tab {
    background-color: #bbb;
    font-size: $font-size-n;
    display: inline-block;
    padding: 5px 5px;
    border: 1px solid #000;
    transition: all ease-in-out 0.25s;

    &:hover {
        background-color: #f9873c;
    }
}

.tab--active {
    background-color: #fff;
    border-bottom: 0px;
}

.tab__content {
    display: none;
}

.tab__content--active {
    display: block;
}

@media all and (min-width: $medium-screen) and (orientation: landscape) {
    .container {
        display: flex;
        width: 80%;
    }

    .md-half-width {
        box-sizing: border-box;
        width: 50%;
    }
}

#canvasContainer {
    margin: 0 auto;
}

#canvasGrid {
    max-width: 80%;
    margin: auto;
    padding: 2rem;
    box-shadow: 0px 0.1rem 1rem 0.5rem rgba($gray-900, 0.5);
}