@import "normalize";

@import "foundation-sites/global";
@import "foundation-sites/util/util";

@import "foundation-sites/button";

@include foundation-global-styles;
@include foundation-button;

$main-font: "Lato", Roboto, sans-serif;
$code-font: Monaco, Consolas, monospace, sans-serif;
$font-size-n: 1rem;
$font-size-l: 2rem;
$font-size-xxl: 4rem;

$medium-screen: 1024px;

// =======
// Elements
// =======

body {
    font-family: $main-font;
    font-size: $font-size-n;
    background-color: $gray-900;
}

h1 {
    margin: 0;
    font-size: $font-size-n;
}

input {
    padding: 0 0.5rem;
}

// =======
// Abstract Classes
// =======

%shadow-element {
    box-shadow: 0rem 0.1rem 0.5rem 0.1rem rgba($gray-900, 0.5);
}

%top-bottom-margin {
    margin: 1rem 0;
}

// =======
// Classes
// =======

.container {
    width: 100%;
    margin: auto;
    padding: 0 0.2rem;
    text-align: center;
    background-color: $gray-800;
}

.panel {
    padding: 2rem 0.5rem;
}

.code {
    font-family: $code-font;
}

.hidden {
    position: absolute;
    left: -9999px;
}

.hidden--no-height.hidden--no-height {
    max-height: 0;
}

.success {
    color: $success-color;
}

.alert {
    color: $alert-color;
}

.tab-wrapper {
    @extend %shadow-element;
}

.tabs {
    display: flex;
}

.tabs-contents {
    overflow: overlay;
    background-color: $gray-700;
    min-height: 40%;
    text-align: left;
}

.tab {
    background-color: $gray-900;
    font-size: $font-size-n;
    padding: 5px 5px;
    flex: 1 1 auto;
    line-height: 2.5;
    border-top: 0.25rem solid transparent;
    transition: all ease-in-out 0.25s;

    &:hover {
        background-color: $black;
    }
}

.tab--active {
    background-color: $gray-700;
    border-top: 0.25rem solid $primary-color;

    &:hover {
        background-color: $gray-700;
    }
}

.tab__content {
    display: none;
    padding: 0 2rem;
}

.tab__content--active {
    display: block;
}

.top-bar {
    background-color: $primary-color;
    line-height: 3.5;
    padding: 0 1.5rem;
    @extend %shadow-element;
}

.form__field {
    display: flex;
    @extend %top-bottom-margin;

    * {
        flex-grow: 1;
        line-height: 2;
        box-sizing: border-box;
    }

    input {
        margin-left: 0.5rem;
        min-width: 0;
    }
}

.form__message {
    display: inline-flex;
    overflow: hidden;
    margin-bottom: 1rem;
    transition: max-height ease-in-out 0.25s;
}

.predict-result {
    display: block;
    @extend %top-bottom-margin;
    font-size: $font-size-l;
}

.canvas {
    position: absolute;
    left: 0;
    top: 0;
}

// =======
// Ids
// =======

#canvasContainer {
    margin: 0 auto 1rem;
}

#canvasGrid {
    padding: 2rem;
    background-color: $gray-700;
    @extend %shadow-element;
}

@media all and (min-width: $medium-screen) and (orientation: landscape) {
    body {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), 
                rgba(0, 0, 0, 0.5)), 
                url('../images/dark_material.jpg');
        background-size: cover;
    }

    .container {
        display: flex;
        width: 75%;
        padding: 0 2%;
    }

    .top-bar {
        width: 75%;
        margin: auto;
    }

    .md-half-width {
        box-sizing: border-box;
        width: 50%;
    }

}